 /* Tùy chỉnh style cho Select2 */
.select2-container .select2-selection--multiple {
    border: 1px solid #ced4da;
    border-radius: .375rem;
    padding: 0.2rem 0.75rem;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    line-height: 1.5rem;
}

.select2-container .select2-selection__choice {
    background-color: #0d6efd;
    color: #070707;
    border-radius: .25rem;
    padding: .25rem .5rem;
    margin: .120rem;
}

body {
    font-size: 14px;
    background: linear-gradient(to right, #1d273b
    , #0f172a);
    font-weight: 600;
     /* Gradient từ trái sang phải từ đỏ sang vàng */
}

.container {
    max-width: 90%; /* Thu hẹp container */
}

.form-select, 
.form-control {
    font-size: 13px; /* Giảm chữ trong ô nhập liệu */
    padding: 5px 8px; /* Giảm khoảng cách trong input */
}

.table {
    font-size: 13px; /* Giảm chữ trong bảng */
}

th, td {
    padding: 6px; /* Giảm padding trong bảng */
}

h2 {
    font-size: 18px; /* Giảm kích thước tiêu đề */
}

.table td {
    padding: 0; /* Loại bỏ padding để input có thể lắp đầy */
}

.table input {
    width: 100%; /* Đảm bảo input lấp đầy ô */
    height: 100%; /* Đảm bảo chiều cao input khớp với ô */
    border: none; /* Bỏ viền input để nhìn mượt hơn */
    padding: 8px; /* Giữ khoảng cách chữ với viền input */
    box-sizing: border-box; /* Giữ đúng kích thước input trong ô */
}
.table input:focus {
    outline: none; /* Bỏ viền xanh khi click vào input */
    box-shadow: none; /* Bỏ hiệu ứng bóng khi nhập dữ liệu */
}

.bg_slides {
    background-color:#2186ebba
}

.value {
    margin-top: 10px;
    font-size: 20px;
}
.table-head-fixed,
.table-body-fixed {
    table-layout: fixed;
    width: 100%;
}
/* Ẩn mũi tên chỉ cho dropdown có lớp .no-arrow */
.no-arrow::after {
    display: none;
}

/* custom thanh header */
#header {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#header.scrolled {
    background-color: #1c5d9f !important;
    /* hoặc màu khác */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}